extends layout 

block head 
    include ./head.jade
    link(rel='stylesheet' href="./stylesheets/style.css")

block content 
    include ./sidebar.jade
        .container
            header.panel-heading
                h4 
                    |Dashboard
            hr
            .content
                .cards
                    .card
                        .box
                            .text-content
                                h1#todayExp  2194
                                h5(style="margin-top:5px;") Today Expense
                            .icon-case
                                i.fas.fa-money-bill-wave
                    .card
                        .box
                            .text-content
                                h1#todayInc 53
                                h5(style="margin-top:5px;") Today Income
                            .icon-case
                                i.fas.fa-coins
                    .card
                        .box
                            .text-content
                                h1#lastMonExp 5
                                h5(style="margin-top:5px;") Last Month Expense
                            .icon-case
                                i.fas.fa-credit-card
                    .card
                        .box
                            .text-content
                                h1#lastMonInc 350000
                                h5(style="margin-top:5px;") Last Month Income
                            .icon-case
                                i.fas.fa-chart-line
                    .card
                        .box
                            .text-content
                                h1#totalInc 350000
                                h5(style="margin-top:5px;") Total Income
                            .icon-case
                                i.fas.fa-hand-holding-usd
                    .card
                        .box
                            .text-content
                                h1#totalExp 350000
                                h5(style="margin-top:5px;") Total Expense
                            .icon-case
                                i.fas.fa-receipt

                
block foot 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js")
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    script(src="./javascripts/dashboard.js")



