
aside
    #viewport
      // Sidebar
      #sidebar
        header
          a(href='#') Finance Manager
        ul.nav
          li
            a(href='/dashboard')
              i.zmdi.zmdi-view-dashboard
              |  Dashboard
          li
            a(href='/transaction')
              i.fas.fa-wallet
              |  Transactions
          li
            a(href='/category')
              i.zmdi.zmdi-widgets
              |  Transaction Categories
          li
            a(href='#')
              i.zmdi.zmdi-calendar
              |  Reports
          li
            a(href='#')
              i.zmdi.zmdi-info-outline
              |  About
          li
            a(href='#')
              i.zmdi.zmdi-settings
              |  Goals
          li
            a(href='#')
              i.zmdi.zmdi-comment-more
              |  Contact
          li
            a(href='/logout')#logout
              i.fas.fa-sign-out-alt
              |  Logout
      // Content
      #content
        nav.navbar.navbar-default
          .container-fluid
            ul.nav.navbar-nav.navbar-right
              li
                a(href='#')
                  i.zmdi.zmdi-notifications.text-danger
              li
                a(href='#')#loginUser Test User
        .container-fluid
            div 
    style.
      @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
      body {
      overflow-x: hidden;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      }
      /* Toggle Styles */
      #content {
      width: 100%;
      position: relative;
      margin-right: 0;
      }
      #sidebar header {
      background-color: #263238;
      font-size: 20px;
      line-height: 52px;
      text-align: center;
      }
      #sidebar header a {
      color: #fff;
      display: block;
      text-decoration: none;
      }
      #sidebar header a:hover {
      color: #fff;
      }
      #sidebar .nav{
      }
      #sidebar .nav a{
      background: none;
      border-bottom: 1px solid #455A64;
      color: #CFD8DC;
      font-size: 14px;
      padding: 16px 24px;
      }

      #sidebar .nav a i{
      margin-right: 16px;
      }
      /* Mobile View: max-width of 600px */
      @media only screen and (max-width: 600px) {
      #viewport {
        width: 100%;
        padding-left: 0;

      }

      #sidebar {
        width: 100%; 
        position: relative; 
        background: #37474F;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;


        z-index: 1000;
        overflow-y: auto;
      }

      #sidebar .nav a {
        text-align: center;
        float: none; /* Remove floating */
      }

      #sidebar .nav a:hover{
      background: none;
      color: #ECEFF1;
      }
      #sidebar header {
      background-color: #263238;
      font-size: 20px;
      line-height: 52px;
      text-align: center;
      }
      #sidebar header a {
      color: #fff;
      display: block;
      text-decoration: none;
      }
      #sidebar header a:hover {
      color: #fff;
      }
      #sidebar .nav{
      }
      #sidebar .nav a{
      background: none;
      border-bottom: 1px solid #455A64;
      color: #CFD8DC;
      font-size: 14px;
      padding: 16px 24px;
      }

      #sidebar .nav a i{
      margin-right: 16px;
      }
      }

      @media only screen and (min-width: 600px) {
      #viewport {
        padding-left: 250px;
        width: 100%;
        transition: all 0.5s ease;
      }

      #sidebar {
        width: 250px; 
        position: fixed; 
        height: 100%;
        top: 0;
        left: 0;
        background: #37474F;
        transition: all 0.5s ease;
        z-index: 1000;
        overflow-y: auto;
      }

      #sidebar .nav a {
        text-align: left;
      }

      }

script.

  const user = localStorage.getItem('email');
  document.querySelector('#loginUser').text = user;

  document.querySelector('#logout').addEventListener('click', () => {
      localStorage.clear();
  })

      
